@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  :root {
    --primary: #ffffff;
    --primary-icon: #1c1c1c;
    --custom-color: #3b82f6;
    --sidebar-bg: #ffffff;
    --icon-fill: #1c1c1c;
    --section-title: #1c1c1c;
    --notification-icon-background: #e3f5ff;
    --notification-icon-fill: #1c1c1c;
    --vertical-divider: #1c1c1c1a;
    --time-text: #1c1c1c66;
    --dark-highlight: #1c1c1c66;
    --light-highlight: #d2d2d2;
    --dot-highlight: #d2d2d2;
    --dropdown-section-title: #1c1c1c;
    --dropdown-item-text: #1c1c1c;
    --dropdown-item-bg-active: rgba(0, 0, 0, 0.08);
    --dropdown-item-border-active: #1c1c1c;
    --dropdown-arrow: #1c1c1c;
    --main-content-border: #e8e8e8;
    --chart-axis-label: #9FA1A2;
    --chart-bar-lower: #AEC4D8;
    --chart-bar-upper: #D2DFEA;
    --chart-grid-line: #3D3D3D;
    --section-background: #F7F9FB;
  }

  .dark {
    --primary: #1c1c1c;
    --primary-icon: #ffffff;
    --custom-color: #60a5fa;
    --sidebar-bg: #2a2a2a;
    --icon-fill: #ffffff;
    --section-title: #ffffff;
    --notification-icon-background: #e5ecf6;
    --notification-icon-fill: #1c1c1c;
    --vertical-divider: #ffffff1a;
    --time-text: #ffffff66;
    --dark-highlight: #ffffff66;
    --light-highlight: #494949;
    --dot-highlight: #494949;
    --dropdown-section-title: #ffffff;
    --dropdown-item-text: #ffffff;
    --dropdown-item-bg-active: #353535;
    --dropdown-item-border-active: #c6c7f4;
    --dropdown-arrow: #ffffff;
    --main-content-border: #333333;
    --chart-axis-label: #7E7E7E;
    --chart-bar-lower: #AEC4D8;
    --chart-bar-upper: #6B7680;
    --chart-grid-line: #ECEEF0;
    --section-background: #282828;
  }

  .sidebar-icon,
  .theme-icon {
    color: var(--icon-fill);
  }

  .sidebar-icon svg path,
  .theme-icon svg path {
    fill: var(--icon-fill);
  }

  .header-icon-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dark .header-icon-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  button:active {
    outline: none;
  }

  button:focus {
    outline: none;
  }
}
